<!doctype html>
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" >
<link type="text/css" rel='stylesheet' href='{% static "css/city-picker.css" %}' />
<script src='http://libs.baidu.com/jquery/1.10.2/jquery.min.js'></script>
<script src='{% static "js/city-picker.data.js" %}'></script>
<script src='{% static "js/city-picker.js" %}' ></script>
<style>
input {
  border-top: white;
  border-left: white;
  border-right: white;
  border-bottom-color: #ff0000;
}

</style>
<html>
<body>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>安徽省黄山市黄山区恶性肿瘤报告卡</h2>
    <div style="position: relative; margin-left:10%;width:60%;">
      <label>卡片编号</label>  <input type="text" name='card_id'  />
      <label>卡片类型</label>  <input type="text" name='card_type'  />
      <label>ICD-10编码</label>  <input type="text" name='icd_10_code'  />
      <label>ICD-O编码</label>  <input type="text" name='icd_o_code'  />
      <label>门诊号</label>  <input type="text" name='patient_no'  />
      <label>住院号</label>  <input type="text" name='hospitalized_no'  />
      <label>身份证号</label>  <input type="text" name='id_no'  />
      <label>姓名</label>  <input type="text" name='name'  />
      <label>性别</label>  <input type="text" name='gender'  />
      <label>实足年龄</label>  <input type="text" name='exact_age'  />
      <label>民族</label>  <input type="text" name='race'  />
      <label>婚姻</label>  <input type="text" name='marriage'  />
      <label>出生日期</label>  <input type="date" name='birth_date'  />
      <label>电话号码</label>  <input type="text" name='telephone'  />
      <label>职业（工种）</label>  <input type="text" name='occupation'  />
      <label>工作单位</label>  <input type="text" name='company'  />
      <label>户口地址</label><input type="text" name='census_register_town' data-toggle='city-picker' value="安徽省/黄山市/黄山区" />
      <label>居委会（村）</label>  <input type="text" name='census_register_exact'  />
      <label>现住址</label>  <input type="text" name='residence_town'  />
      <label>现住址居委会（村）</label>  <input type="text" name='residence_exact' data-toggle='city-picker' value="安徽省/黄山市/黄山区" />
      <label>诊断</label>  <input type="text" name='diagnosis'  />
      <label>病理学类型</label>  <input type="text" name='pathology'  />
      <label>诊断依据</label>  <input type="text" name='diagnose_type'  />
      <label>诊断日期</label>  <input type="date" name='diagnose_date'  />
      <label>诊断单位</label>  <input type="text" name='diagnose_hospital'  />
      <label>随访</label>  <input type="text" name='follow_up'  />
      <label>死亡日期</label>  <input type="date" name='death_date'  />
      <label>死亡原因</label>  <input type="text" name='death_reason'  />
      <label>死亡地点</label>  <input type="text" name='death_point'  />
      <label>报告单位</label>  <input type="text" name='report_hospital'  />
      <label>报告人</label>  <input type="text" name='reporter'  />
      <label>报告日期</label>  <input type="date" name='report_date'  />
      <label>原诊断</label>  <input type="text" name='pre_diagnosis'  />
      <label>原诊断日期</label>  <input type="date" name='pre_diagnose_date'  />
      <input type="submit" value="submit" />
    </div>
  </form>

</body>
</html>
